:root {
    --primary-color: #28a745; 
    --light-green: #e6f7ea;   
}

.bg-light-green {
    background-color: var(--light-green);
}

.text-primary-color {
    color: var(--primary-color) !important;
}

/* Estiliza o cartão de login */
.custom-login-card {
    max-width: 400px; 
    width: 100%;
    border-radius: 10px;
    border: none;
}

/* Sobrescreve a cor primária do Bootstrap para combinar com o tema Nutrição */
.navbar-dark.bg-primary {
    background-color: var(--primary-color) !important;
}

.btn-primary {
    background-color: var(--primary-color) !important;
    border-color: var(--primary-color) !important;
}